@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="font-family: Courier, monospace; font-size: 36px; color: darkred; font-weight: bold;">ATT GH-300 live agents</h1>
    <img src="https://picsum.photos/800/400" alt="Seattle Skyline" style="margin-top: 20px; max-width: 100%;" />
</div>
